<div id="Pagination">
    <hr>
    {% if page_count > 1 %}
        {% if current_page != 1 %}
            <a href="/index?offset={{ offset_previous }}">Previous</a>
        {% endif %}
        {% for page_no,i in page_number %}{#foreach from=$page_number item=$i key=$pageno#}
            {% if page_no != current_page %}
                <a href="/index?offset={{ i }}">{{ page_no }}</a>
            {% else  %}
                {{ page_no }}
            {% endif %}
        {% endfor %}
        {% if current_page != page_count  %}
            <a href="/index?offset={{ offset_next }}">Next</a>
        {% endif %}
    {% endif %}
</div>
