{% include "header.html.twig" %}
{% include "navigation.html.twig" %}
<main class="Site-content">
    <section class="Section">
        <div class="Container">
            <h2 class="Section-heading">Add Product</h2>
            <div id="messages">
                {% include "errorMessages.html.twig" %}
                {% include "statusMessage.html.twig" %}
            </div>
            <form action="/add_product" method="post" enctype="multipart/form-data" id="productform">
                <div class="InputCombo Grid-full">
                    <label for="pname" class="InputCombo-label">Product Name*:</label>
                    <input type="text" id="pname" name="pname" value="{{ pname }}" placeholder="Choose a unique Product Name" class="InputCombo-field">
                </div>
                <div class="InputCombo Grid-full">
                    <label for="price" class="InputCombo-label">Price*:</label>
                    <input type="text" id="price" name="price" value="{{ price }}" size="10" maxlength="10"  placeholder="0,00" class="InputCombo-field">
                </div>
                <div class="InputCombo Grid-full">
                    <label for="ptype" class="InputCombo-label">Product Type*:</label>
                    <select name="ptype" id="ptype" size="1" class="InputCombo-field">
                         {% for key,value in ptypeArray %}
                            <option {% if selected is defined %} {% if selected is same as (ptypeArray[key]['product_category_name'])  %} selected="selected" {% endif %} {% endif %}> {{ ptypeArray[key]['product_category_name'] }} </option>
                            {% else %}
                            <option>Nothing to select so far</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="InputCombo Grid-full">
                    <label for="active" class="InputCombo-label">Active*</label><span>&nbsp;</span>
                    <input type="radio" name="active"  value="1" {% if active == '1' %} checked="checked" {% endif %}><span>&nbsp;</span>
                    <label for="active" class="InputCombo-label">Inactive*</label><span>&nbsp;</span>
                    <input type="radio" name="active"  value="0" {% if active == '0' %} checked="checked" {% endif %}><span>&nbsp;</span>
                </div>
                <div class="InputCombo Grid-full">
                    <label for="shortdesc" class="InputCombo-label">Short Description*:</label>
                    <textarea name="shortdesc" id="shortdesc" cols="40" rows="5"  class="InputCombo-field">{{ shortdesc }}</textarea>
                </div>
                <div class="InputCombo Grid-full">
                    <label for="longdesc" class="InputCombo-label">Long Description*:</label>
                    <textarea name="longdesc" id="longdesc" cols="40" rows="15"  class="InputCombo-field">{{ longdesc }}</textarea>
                </div>
                <div class="Grid-full">
                    <button type="submit" class="Button">Add Product</button>
                </div>
            </form>
        </div>
    </section>
</main>
<!--<script src="../src/Exercises/js/product.js"></script>-->
{% include "footer.html.twig" %}