{% include "header.html.twig" %}
{% include "navigation.html.twig" %}
<main class="Site-content">
    <section class="Section">
        <div class="Container">
            <h2 class="Section-heading">Register for an OnlineShop account</h2>
            <div id="messages">
                {% include "errorMessages.html.twig" %}
                {% include "statusMessage.html.twig" %}
            </div>
            <form action="/add_user" method="post" enctype="multipart/form-data" id="registerform">
                <div class="InputCombo Grid-full">
                    <label for="firstname" class="InputCombo-label">Firstname:</label>
                    <input type="text" id="firstname" name="firstname" value="{{ firstname }}" class="InputCombo-field">
                </div>
                <div class="InputCombo Grid-full">
                    <label for="lastname" class="InputCombo-label">Lastname:</label>
                    <input type="text" id="lastname" name="lastname" value="{{ lastname }}" class="InputCombo-field">
                </div>
                <div class="InputCombo Grid-full">
                    <label for="nickname" class="InputCombo-label">Nickname:</label>
                    <input type="text" id="nickname" name="nickname" value="{{ nickname }}" class="InputCombo-field">
                </div>
                <div class="InputCombo Grid-full">
                    <label for="email" class="InputCombo-label">Email:</label>
                    <input type="email" id="email" name="email" value="{{ email }}" class="InputCombo-field">
                </div>
                <p> Format: +43 732 1234-1234 </p>
                <div class="InputCombo Grid-full">
                    <label for="phone" class="InputCombo-label">Phone:</label>
                    <input type="text" id="phone" name="phone" value="{{ phone }}" class="InputCombo-field">
                </div>
                <div class="InputCombo Grid-full">
                    <label for="mobile" class="InputCombo-label">Mobile:</label>
                    <input type="text" id="mobile" name="mobile" value="{{ mobile }}" class="InputCombo-field">
                </div>
                <div class="InputCombo Grid-full">
                    <label for="fax" class="InputCombo-label">Fax:</label>
                    <input type="text" id="fax" name="fax" value="{{ fax }}" class="InputCombo-field">
                </div>
                <p> Use only letters, numbers, and the underscore. Must be between 5 and 8 characters long. </p>
                <div class="InputCombo Grid-full">
                    <label for="password" class="InputCombo-label">Password:</label>
                    <input type="password" id="password" name="password" class="InputCombo-field">
                </div>
                <div class="InputCombo Grid-full">
                    <label for="password_repeat" class="InputCombo-label">Repeat Password:</label>
                    <input type="password" id="password_repeat" name="password_repeat" class="InputCombo-field">
                </div>
                <div class="Grid-full">
                    <button type="submit" class="Button">Create my account</button>
                </div>
            </form>
        </div>
    </section>
    <section class="Section">
        <div class="Container">
            <h2 class="Section-heading">Already registered<i class="fa fa-question"></i></h2>
            <p>Use your existing OnlineShop account to login <a href="/login">here</a></p>
        </div>
    </section>
</main>
<!--<script src="../src/Exercises/js/register.js"></script>-->
{% include "footer.html.twig" %}